<!DOCTYPE html>
<html lang="el">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, height-device-height, initial-scale=1.0">
        <title>El Dorado Boutique Resort</title>
        <link rel="stylesheet" href="/bootstrap.css">
        <link rel="stylesheet" href="/bootstrap-grid.css">
        <link rel="stylesheet" href="/stylepage1.css">
        
    </head>

    <body>
        {{{body}}}
    </body>
</html>
