<<<<<<< HEAD
<link rel="stylesheet" href="/foodstyle.css">    
<body>
        <div class="row">

            <div class="col-4 img1">
                 <div class="box1">
                    <legend>Πρωινό</legend>
                    <h1>Απλό:</h1>
                    <h>Το απλό μενού πρωινού του ξεχοδοχείου μας περιέχει ψωμί, βούτυρο, μέλι, μαρμελάδα, τυρί και γαλοπούλα όπωσ επίσης και ένα ρόφημα της επιλογής σας, νερό ή καφέ.</h>
                    <br>
                    <h1>Buffet:</h1>
                    <h>Επιλέγοντας πρωινό σε μπουφέ έχετε πρόσβαση σε ολόκληρο το μπουφέ του ξενοδοχείου μας που περιέχει γεύσεις από όλο τον κόσμο σε απεριόριστες ποσότητες. Επίσης έχετε απεριόστη ποσότητα ροφημάτων.</h>
                </div>
            </div>

            <div class="col-4 img2">
                <div class="box2">
                    <legend>Μεσημεριανό</legend><br>
                    <h1>Απλό:</h1>
                    <h>Το απλό μενού μεσημεριανού περιέχει ένα γεύμα της επιλογής με σαλάτα, ψωμί και ένα αναψυκτικό.</h>
                    <h1>Buffet:</h1>
                    <h>Επιλέγοντας αυτό το πακέτο έχετε πρόσβαση στο μπουφέ του ξενοδοχείου μας για το μεσημεριανό το οποίο περιέχει κάθε μέρα πληθώρα μαγειρευτών γευμάτων από τα οποία μπορείτε να επιλέξετε όσα θέλετε.</h>
                </div>
            </div>
            
            <div class="col-4 img3">
                <div class="box3">
                    <legend>Δείπνο</legend>
                    <h1>Απλό:</h1>
                    <h>Το απλό δείπνο σας προσφέρει ένα γεύμα από τα γευματα ημέρας, με συνοδευτικό της επιλογής σας, σαλάτα, ψωμί και αναψυκτικό της επιλογής σας.</h>
                    <br>
                    <h1>Buffet:</h1>   
                    <h>Όπως και στο μεσημεριανό επιλέγοντας μπουφέ, έχετε την δυνατότητα να επιλέξετε παραπάνω από ένα γεύματα σε όποια ποσότητα επιθυμείτε και όσα αναψυκτικά επιθυμείτε.</h>
                    <br>
                    <h1>Valentine's:</h1> 
                    <h>Αυτή η ιδιαίτερη περίπτωση δείπνου δίνει πρόσβαση στον ιδιαίτερα διαμορφομένο χώρο του ξενοδοχείου μας ειδικά για μαγευτικές βραδιές με το σύντροφο σας. Περιλαμβάνει δείπνο σε στρογγυλό τραπέζι, ρομαντικό στολισμό με τριαντάφυλλα και πέταλα και πλήρες σέρβις. Το γεύμα περιέχει πέντε πιάτα, 2 ορεκτικά, 2 κυρίως και ένα επιδόρπιο.</h>
                    <br>
                    <h class="yg">Υποσημείωση: Το μενού είναι προκαθορισμένο ωστόσο υπάρχουν 3 διαφορετικά μενού από τα οποία θα επιλέξετε ένα εκείνη τη στιγμή. Αυτο υπόσχεται μία πιο αυθεντική εμπειρία καθώς το ζευγάρι δεν γνωρίζει ακριβώς τι θα φάει και υπάρχει μυστήριο σε ένα βαθμό.</h>
                </div>
            </div>
        </div>
        <button type="button" onclick="window.location.href = '/newRes'">Επιστροφή</button><br>
</body>    
=======
        <link rel="stylesheet" href="/stylepage2.css">        
        <div class="row">

            <div class="col-4">
                <hr>Πρωινό απλό: <br> 
                Το απλό μενού πρωινού του ξεχοδοχείου μας περιέχει ψωμί, βούτυρο, μέλι, μαρμελάδα, τυρί και γαλοπούλα όπωσ επίσης και ένα ρόφημα της επιλογής σας, νερό ή καφέ.<br>
                <br>Πρωινό Buffet:<br>
                Επιλέγοντας πρωινό σε μπουφέ έχετε πρόσβαση σε ολόκληρο το μπουφέ του ξενοδοχείου μας που περιέχει γεύσεις από όλο τον κόσμο σε απεριόριστες ποσότητες. Επίσης έχετε απεριόστη ποσότητα ροφημάτων.<br> 
            </div>

            <div class="col-4">
                <hr>Μεσημεριανό Απλό: <br>
                Το απλό μενού μεσημεριανού περιέχει ένα γεύμα της επιλογής με σαλάτα, ψωμί και ένα αναψυκτικό. <br>
                <br>Μεσημεριανό Buffet: Επιλέγοντας αυτό το πακέτο έχετε πρόσβαση στο μπουφέ του ξενοδοχείου μας για το μεσημεριανό το οποίο περιέχει κάθε μέρα πληθώρα μαγειρευτών γευμάτων από τα οποία μπορείτε να επιλέξετε όσα θέλετε. 
            </div>
            
            <div class="col-4">
                <hr>
                Δείπνο Απλό: <br> Το απλό δείπνο σας προσφέρει ένα γεύμα από τα γευματα ημέρας, με συνοδευτικό της επιλογής σας, σαλάτα, ψωμί και αναψυκτικό της επιλογής σας.<br>
                <br>Δείπνο Buffet: <br>
                Όπως και στο μεσημεριανό επιλέγοντας μπουφέ, έχετε την δυνατότητα να επιλέξετε παραπάνω από ένα γεύματα σε όποια ποσότητα επιθυμείτε και όσα αναψυκτικά επιθυμείτε.<br>
                <br>Δείπνο Valentine's: <br> Αυτή η ιδιαίτερη περίπτωση δείπνου δίνει πρόσβαση στον ιδιαίτερα διαμορφομένο χώρο του ξενοδοχείου μας ειδικά για μαγευτικές βραδιές με το σύντροφο σας. Περιλαμβάνει δείπνο σε στρογγυλό τραπέζι, ρομαντικό στολισμό με τριαντάφυλλα και πέταλα και πλήρες σέρβις. Το γεύμα περιέχει πέντε πιάτα, 2 ορεκτικά, 2 κυρίως και ένα επιδόρπιο. 
                <br> Υποσημείωση: Το μενού είναι προκαθορισμένο ωστόσο υπάρχουν 3 διαφορετικά μενού από τα οποία θα επιλέξετε ένα εκείνη τη στιγμή. Αυτο υπόσχεται μία πιο αυθεντική εμπειρία καθώς το ζευγάρι δεν γνωρίζει ακριβώς τι θα φάει και υπάρχει μυστήριο σε ένα βαθμό. 

            </div>
        </div>
        <button type="button" onclick="window.location.href = '/newRes'">Επιστροφή</button>
>>>>>>> 6aa922427bbe361d568bd0ef157ae45a4c839ab2
