<link rel="stylesheet" href="/adminlogstyle.css"> 
    <body>
        <div class="form-container">
        <form action="/adminLogin" method="POST">
            <fieldset>
                <legend>Στοιχεία Διαχειριστή:</legend>
                <br>
                UserName: <input type="text" name="AdminID"><br><br>
                Password: <input type="text" name="AdminPassword"><br><br>

            </fieldset>

            {{message}}
            <input type="submit" value="Είσοδος" class="ypovoli">
        </form>
        </div>
    </body>