<link rel="stylesheet" href="/adminstylemain.css">
<body>    
    <div class="banner">
        <header>Διαχείριση Κρατήσεων</header>
    </div>
    <div class="form-container">
            <form action="/changeResDate" method="POST">
                
                <header>Αλλαγή Ημερομηνίας</header>
                <br><br>
                Αριθμός Δωματίου: <input type="number" id="roomNo">
                <br><br>
                Email Πελάτη: <input type="email" id="CustEmail">
                <br><br>
                Παλιά Ημερομηνία Άφιξης: <input type="date" id="oldarrivalDate">
                <br><br>
                Νέα Ημερομηνία Άφιξης: <input type="date" id="newarrivalDate">
                <br><br>
                Νέα Ημερομηνία Αναχώρησης: <input type="date" id="newdepartureDate">
                <br><br>
                <input type="submit" value="Αλλαγή Ημερομηνίας">
            </form>

            <form action="/deleteRes" method="POST">
                <header>Διαγραφή Κράτησης</header>
                <br><br>
                Αριθμός Δωματίου: <input type="number" id="roomNotodelete">
                <br><br>
                Email Πελάτη: <input type="email" id="CustEmailtodelete">
                <br><br>
                Ημερομηνία Άφιξης: <input type="date" id="arrivalDatetodelete">
                <br><br>
                <input type="submit" value="Διαγραφή">
            </form>

            <form action="/changeResRoom" method="POST">
                <header>Αλλαγή Δωματίου</header>
                <br><br>
                Αριθμός Δωματίου: <input type="number" id="roomNotochange">
                <br><br>
                Email Πελάτη: <input type="email" id="CustEmailtochange">
                <br><br>
                Νέος Αριθμός Δωματίου: <input type="number" id="newroomNo">
                <br><br>
                Ημερομηνία Άφιξης: <input type="date" id="arrivalDatetochange">
                <br><br>
                <input type="submit" value="Αλλαγή Δωματίου">
            </form>
            
            
    </div>
    <div class="neos">
        <button type="button" onclick="window.location.href = '/adminRegister'" class="buttons">Προσθήκη Διαχειριστή</button>
    </div>
</body>    