        <div style="text-align: left;">
            <h1>Καλώς ήρθατε στην Σελίδα Διαχειριστή</h1>
            <form action="/changeResDate" method="POST">
                
                <h2>Αλλαγή Ημερομηνίας</h2>
                <br><br>
                Αριθμός Δωματίου: <input type="number" id="roomNo">
                <br><br>
                Email Πελάτη: <input type="email" id="CustEmail">
                <br><br>
                Παλιά Ημερομηνία Άφιξης: <input type="date" id="oldarrivalDate">
                <br><br>
                Νέα Ημερομηνία Άφιξης: <input type="date" id="newarrivalDate">
                <br><br>
                Νέα Ημερομηνία Αναχώρησης: <input type="date" id="newdepartureDate">
                <br><br>
                <input type="submit" value="Αλλαγή Ημερομηνίας">
                <br><br><br>
            </form>

            <form action="/deleteRes" method="POST">
                <h3>Διαγραφή Κράτησης</h3>
                <br><br>
                Αριθμός Δωματίου: <input type="number" id="roomNotodelete">
                <br><br>
                Email Πελάτη: <input type="email" id="CustEmailtodelete">
                <br><br>
                Ημερομηνία Άφιξης: <input type="date" id="arrivalDatetodelete">
                <br><br>
                <input type="submit" value="Διαγραφή">
                <br><br><br>
            </form>

            <form action="/changeResRoom" method="POST">
                <h4>Αλλαγή Δωματίου</h4>
                <br><br>
                Αριθμός Δωματίου: <input type="number" id="roomNotochange">
                <br><br>
                Email Πελάτη: <input type="email" id="CustEmailtochange">
                <br><br>
                Νέος Αριθμός Δωματίου: <input type="number" id="newroomNo">
                <br><br>
                Ημερομηνία Άφιξης: <input type="date" id="arrivalDatetochange">
                <br><br>
                <input type="submit" value="Αλλαγή Δωματίου">
            </form>
            
            <!--καπου να μπει ενα κουμπί το οποίο θα μας παραπέμπει στο λινκ /addNewAdmin όπου σου αρέσει -->

        </div>