<form action="/declareInterest" method="post">
    <label for="SSN">SSN:</label>
    <input type="number" id="SSN" name="ssn" required>
    
    <label for="actSelection">Options:</label>
    <select id="actSelection" name="options">
        <option value="Latin Nights" id="actSelection">Latin Nights</option>
        <option value="Greek Nights" id="actSelection">Greek Nights</option>
        <option value="Karaoke Nights" id="actSelection">Karaoke Nights</option>
        <option value="Sunset Techno" id="actSelection">Sunset Techno Parties</option>
    </select>
    
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>

    <input type="submit" value="Submit">
</form>