<link rel="stylesheet" href="/reservationStyle.css"> 
<body>    
     <div class="welcome">
                    <h2>Καλωσήρθατε στη φόρμα Κρατήσεων του El Dorado</h2>
    </div>  
        <div class="row">
           
            <div class="col-3"></div>

            <div class="col-6">
                <div >
                <form action="/newRes" method="post">
                <div class="box">
                        <fieldset>
                            <legend>Στοιχεία Πελάτη</legend>
            
                            <fieldset>
                                Όνομα: <input type="text" id="name"><br><br>
                                Επώνυμο: <input type="text" id="surname"><br><br>
                                S.S.N.: <input type="text" id="SSN"><br><br>
                            </fieldset>
                            
                </div>
                <div class="box">
                        <fieldset>
                            <legend>Στοιχεία Διεύθυνσης</legend>
                            Οδός και Αριθμός: <input type="text" id="street"><br><br>
                            Πόλη: <input type="text" id="city"><br><br>
                            ΤK: <input type="text" id="postal_code"><br><br>
                        </fieldset>
                    
                </div>
                <div class="box">
                        <fieldset>
                            <legend>Στοιχεία Επικοινωνίας</legend>
                            Τηλέφωνο: <input type="tel" id="telephone"><br><br>
                            Email: <input type="email" id="email"><br><br>
                        </fieldset>
                      
                 
                    </fieldset>
                </div>

                <div class="box">
                    <fieldset>
                        <legend>Στοιχεία Κράτησης</legend>
                        
                        <fieldset>
                            <h5>Δωμάτιο:</h5>
                            <input type="radio" id="room" value="A">
                            <label for="roomA">San Jose (Δίκλινο-Budget)</label><br>
                            <input type="radio" id="room" value="B">
                            <label for="roomB">Veracruz (Δίκλινο-Luxurious)</label><br>
                            <input type="radio" id="room" value="C">
                            <label for="roomC">Cordoba (Τετράκλινο-Budget)</label><br>
                            <input type="radio" id="room" value="D">
                            <label for="roomD">Guadalajara (Τετράκλινο-Luxurious)</label><br>
                            <input type="radio" id="room" value="E">
                            <label for="roomE">Ciudad Juarez (Εξάκλινο-Luxurious)</label><br>
                        </fieldset>
                        <hr>
    
                        <fieldset>
                            <h5>Αριθμός Ατόμων:</h5>
                            <select>
                            <option id="PeopleNo" value="1">1</option>
                            <option id="PeopleNo" value="2">2</option>
                            <option id="PeopleNo" value="3">3</option>
                            <option id="PeopleNo" value="4">4</option>
                            <option id="PeopleNo" value="5">5</option>
                            <option id="PeopleNo" value="6">6</option>
                            </select>
                        </fieldset>
                        <hr>
                        <fieldset>
                            <h5>Ημερομηνία Άφιξης:</h5><input type="date" id="ariival_date">
                            <br><br>
                            <h5>Ημερομηνία Αναχώρησης:</h5> <input type="date" id="departure_date"><br><br>
                        </fieldset>
                       
                </div>
                <div class="box">  
                        <fieldset>
                            <legend>Πακέτα Φαγητού:
                                <button type="button" onclick="window.location.href = '/aboutfood'" class="info-button">
                                <img src="img/infobtn.png" alt="Info" class="info-icon">
                            </button>
                            </legend>
                            
                        
                            <input type="checkbox" id="food" value="A">
                            <label for="breakfast1">Πρωινό Απλό</label><br>
                            <input type="checkbox" id="food" value="B">
                            <label for="breakfast2">Πρωινό Buffet</label><br>
                            <input type="checkbox" id="food" value="C">
                            <label for="lunch1">Μεσημεριανό Απλό</label><br>
                            <input type="checkbox" id="food" value="D">
                            <label for="lunch2">Μεσημεριανό Buffet</label><br>
                            <input type="checkbox" id="food" value="E">
                            <label for="dinner1">Δείπνο Απλό</label><br>
                            <input type="checkbox" id="food" value="F">
                            <label for="dinner2">Δείπνο Buffet</label><br>
                            <input type="checkbox" id="food" value="G">
                            <label for="dinner3">Δείπνο Valentine's</label>
                            <br>
                        </fieldset>
                    </fieldset>
                
                </div>
                <div class="ypovoli"> 
                    <input type="submit" value="Επιβεβαίωση Κράτησης">
                </form>
                </div>
                </div>
            </div>
            
            <div class="col-3"></div>
</body> 