<link rel="stylesheet" href="/stylepage1.css">
        <h1>El Dorado Seaside Resort</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <h2>Τα Δωμάτια μας</h2>


                </div>
                <div class="col-2">
                    <div class="adminlog">
                        <button type="button" onclick="window.location.href = '/adminLogin'">Admin</button>
                    </div>
                </div>
            </div>


            <section class="dom1">
                <div class="row">                               <!--1ο Δωμάτιο-->
                    <div class="col-2"></div>
                    <div class="col-8">
                        <header>San Jose</header>
                        <hr>
                        <br>
                        <div class="container">
                         <img src="/img/dom1.jpg" alt="Φωτογραφία Δωματίου 1" class="img-fluid">
                        </div>
                        <br>
                        <br>
                        <p>Our first room offers a basic level of convinience at a very reasonable price.The room offers garden view with a fairly spacy balcony.</p> 
                        <div class="reservation">
                                <button type="button" onclick="window.location.href = '/newRes';">Kάντε Κράτηση</button>
                        </div>
                        <hr>
                        <br>
                    </div>
                    <div class="col-2"></div>
                </div>
            </section>

            <section class="dom2">
                <div class="row">                           <!--2ο Δωμάτιο-->
                    <div class="col-2"></div>
                    <div class="col-8">
                        <header>Veracruz</header>
                        <hr>
                        <br>
                        <div class="container">
                         <img src="/img/dom2.jpg" alt="Φωτογραφία Δωματίου 1" class="img-fluid">
                        </div>
                        <br>
                        <br>
                        <p>Our second room is on of our most luxurious rooms and it offers sea view located only 50m from the sea.</p>
                        <div class="reservation">
                            <button type="button" onclick="window.location.href = '/newRes';">Kάντε Κράτηση</button>
                        </div>
                        <hr>
                        <br>
                    </div>
                    <div class="col-2"></div>
                </div>
            </section>


            <section class="dom3"> 
                <div class="row">                        <!--3ο Δωμάτιο-->
                    <div class="col-2"></div>
                    <div class="col-8">
                        <header>Cordoba</header>
                        <hr>
                        <br>
                        <div class="container">
                        <img src="/img/dom3.jpg" alt="Φωτογραφία Δωματίου 1" class="img-fluid">
                        </div>
                       <br>
                        <br>
                        <p>Our third room is the perfect option for a classic 4-member family. It is spacy, it has garden view and garden access. The price includes free acces to the barbeque located in the garden.</p>
                        <div class="reservation">
                            <button type="button" onclick="window.location.href = '/newRes';">Kάντε Κράτηση</button>
                        </div> 
                        <hr>
                        <br>
                    </div>
                    <div class="col-2"></div>
                </div>
            </section>


            <section class="dom4"> 
                <div class="row">                        <!--4ο Δωμάτιο-->
                    <div class="col-2"></div>
                    <div class="col-8">
                        <header>Guadalajara</header>
                        <hr>
                        <br>
                        <div class="container">
                         <img src="/img/dom4.jpg" alt="Φωτογραφία Δωματίου 1" class="img-fluid">
                        </div>
                        <br>
                        <br>
                        <p>Our fourth room may come at a fairly reasonable price but it has everything a 4-member family may need in their vacation. 2 bathrooms, seaview, king size bed, 2 half-double size beds, garden access and free use of the barbeque.</p> 
                        <div class="reservation">
                            <button type="button" onclick="window.location.href = '/newRes';">Kάντε Κράτηση</button>
                        </div>
                        <hr>
                        <br>
                    </div>
                    <div class="col-2"></div>
                </div>
            </section>


            <section class="dom5"> 
                <div class="row">                       <!--5ο Δωμάτιο-->
                    <div class="col-2"></div>
                    <div class="col-8">
                        <header>Ciudad Juarez</header>
                        <hr>
                        <br>
                        <div class="container">
                            <img src="/img/dom51.jpeg" alt="Φωτογραφία Δωματίου 1" class="img-fluid">
                        </div>
                        <br>
                        <br>
                        <p>Our fifth room is designed for a convinient stay for large families at a maximum capacity of 6 persons. It has 2 bathrooms, garden view and access, barbeque access, 1 king-size bed and 4 single-sized beds.</p>
                        <div class="reservation">
                            <button type="button" onclick="window.location.href = '/newRes';">Kάντε Κράτηση</button>
                        </div> 
                        <hr>
                        <br>
                    </div>
                    <div class="col-2"></div>
                    </div>
                </section>
             </div>
        </div>