        <form action="/userLogin" method="POST">
            <fieldset>
                <legend>Στοιχεία Χρήστη:</legend>
                <br>
                UserName: <input type="text" name="AdminID"><br><br>
                Password: <input type="text" name="AdminPassword"><br><br>

            </fieldset>

            {{message}}
            <input type="submit" value="Είσοδος">
        </form>