legend{
    font-size: 1.4rem;
}
form {
    background-color: rgba(255,255,255,0.7); 
    padding: 20px; 
    border: none; 
    border-radius: 8px;   
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
    background-image: url('img/imgsea.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    
        
}

.form-container{
    padding: 20px;
    border: none;
    border-radius: 8px;
    width: 350px; 
}


.ypovoli{
    background-color:rgb(153, 165, 165);
    height: 2rem;
    margin: 0;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

fieldset input{
    margin: 0;
    border: none;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; 
    padding: 20px;
    box-sizing: border-box;
    height: 1rem;
}

.buttons {
    width: 200px;
    border: none;
    box-sizing: border-box;
    text-decoration: underline;
    text-shadow: #ccc;
    color: rgba(13, 155, 120, 0.75);
    background-color: transparent;
    font-size: 1.1rem;

}
