html {
    font-family: "Georgia", serif;
	background-color: #323c41;
}

body{
    font-family: "Georgia", serif;
}

.welcome header{
    text-align: center;
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 250px;
    justify-content: center;
   
}

.menu buttons{
    padding: 10 px;
}

